Repository JuliaPackaging/BinaryBuilder.jl, pull requests merged in 2020-10, with the labels that each got.

#950 [Wizard] Use `Downloads.download` to download the sources
  Manifest.toml
  Project.toml
  azure-pipelines.yml
  src/wizard/obtain_source.jl
Labels: wizard

#944 compat bounds: fix version range test for 'x.y.0-x.y'
  src/AutoBuild.jl
  test/basic.jl
Labels: jll wrappers

#948 [Wizard] Use `repr` to print platforms in the deploy script
  src/wizard/deploy.jl
Labels: wizard

#932 Teach audit to check multiple CSL libraries
  src/Auditor.jl
  src/auditor/compiler_abi.jl
Labels: audit

#954 Add `armv6l` to list of linux platforms for audit pass
  src/auditor/dynamic_linkage.jl
Labels: audit
