Repository JuliaPackaging/BinaryBuilder.jl, pull requests merged in 2020-01, with the labels that each got.

#608 Bump PlatformSupport to get improved CMake definitions
  Artifacts.toml
  src/Rootfs.jl
Labels: toolchain

#606 Disable ccache for gfortran, as it isn't well supported anyway
  src/Runner.jl
Labels: toolchain

#610 Stop compilers from using known unsafe options
  src/AutoBuild.jl
  src/DockerRunner.jl
  src/Runner.jl
  src/UserNSRunner.jl
Labels: toolchain

#594 Avoid blank line when there are no dependencies
  src/wizard/deploy.jl
Labels: wizard

#553 Allow selection of compilers in the wizard
  src/Rootfs.jl
  src/wizard/deploy.jl
  src/wizard/interactive_build.jl
  src/wizard/obtain_source.jl
  src/wizard/state.jl
  test/wizard.jl
Labels: wizard

#612 Add audit pass to check OS/ABI for FreeBSD libraries
  src/Auditor.jl
  src/auditor/extra_checks.jl
Labels: audit, freebsd

#611 Add audit check about troublesome libraries
  src/Auditor.jl
  src/auditor/dynamic_linkage.jl
Labels: audit
