Repository JuliaPackaging/BinaryBuilder.jl, pull requests merged in 2020-04, with the labels that each got.

#747 Fix looking up paths in Yggdrasil
  src/wizard/obtain_source.jl
  src/wizard/yggdrasil.jl
Labels: wizard

#745 Correctly print the search path of a LibraryProduct in the wizard
  src/wizard/deploy.jl
Labels: wizard

#759 Make `get_yggdrasil` return the plain path to the local clone
  src/wizard/obtain_source.jl
  src/wizard/yggdrasil.jl
Labels: wizard

#750 Define `GOROOT` environment variable
  src/Runner.jl
Labels: toolchain

#760 Fix warning about existing project in the wizard
  src/wizard/obtain_source.jl
  test/wizard.jl
Labels: wizard

#761 Allow deploying a partial wizard state
  src/Wizard.jl
  src/wizard/deploy.jl
Labels: wizard

#765 Add `includedir` environment variable
  docs/src/build_tips.md
  src/Runner.jl
Labels: rootfs
