Repository JuliaPackaging/BinaryBuilder.jl, pull requests merged in 2020-03, with the labels that each got.

#698 Add basic support for macOS frameworks
  src/AutoBuild.jl
  src/Declarative.jl
  src/Products.jl
  test/build_tests/libfoo/CMakeLists.txt
  test/building.jl
  test/declarative.jl
Labels: macos

#708 Add warning messages about deadlinks
  src/AutoBuild.jl
  src/auditor/symlink_translator.jl
  test/auditing.jl
Labels: audit

#692 Check license file in the wizard
  src/wizard/interactive_build.jl
Labels: wizard
