Repository JuliaPackaging/BinaryBuilder.jl, pull requests merged in 2022-01, with the labels that each got.

#1094 modify check for existing files that properly splits name and extension
  src/wizard/obtain_source.jl
  test/wizard.jl
Labels: wizard :mage:

#1147 [Docs] Mention new officially supported platforms
  docs/src/building.md
Labels: documentation :book:

#1116 [wizard] add sort step to products array writing
  src/wizard/deploy.jl
Labels: wizard :mage:

#1148 [Wizard] Automatically replace version number in URLs with `$(version)`
  Manifest.toml
  Project.toml
  src/wizard/deploy.jl
Labels: wizard :mage:

#1063 [AutoBuild] Add badge with number of dependants to JLL READMEs
  src/AutoBuild.jl
Labels: jll wrappers

#1100 [Wizard] Provide a way to to cancel the provision of URL for additional sources
  src/wizard/obtain_source.jl
  test/wizard.jl
Labels: wizard :mage:
